@font-face {
    font-family: Montserrat-Regular;
    src: url(../fonts/Montserrat-Medium.ttf);
}


@keyframes incorrect_input{
    from {background-color: rgb(255, 93, 93);}
    to {background-color: white;}
}

*{
    margin: 0;
    padding: 0;
    font-family: Montserrat-Regular;
}

.body{
    background-color: aqua;
}

.main_stats{
    padding: 1.5vh 0vw 1.5vh 0vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
}

.contents{
    display: flex;
    justify-content: space-around;
    margin-top: 2vh;
    width: 100%;
}

.left_blocks{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3vh;
    margin: 0px 3vw 0px 3vw;
}

.trees_stats{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
    background-image: linear-gradient(rgb(230, 158, 91), rgb(151, 98, 48));
    padding-bottom: 3vh;
}

.trees_header{
    width: 100%;
    background-color: rgb(182, 116, 55);
}

.trees_header-txt{
    display: flex;
    align-items: center;
    gap: 0.5vw;
    margin: 1vh 1vw 1vh 1vh;
    color: white;
}

.trees_stats button{
    padding: 0.5vh 0.5vw 0.5vh 0.5vw;
    background-color: rgb(210, 125, 50);
    border: 2px solid rgb(129, 72, 19);
    font-size: 12pt;
    color: rgb(0, 0, 0);
}

.trees_stats button:hover{
    background-color: rgb(195, 110, 35);
}

.cut_tree{
    display: flex;
    align-items: center;
    gap: 1vw;
}

.plant_tree{
    display: flex;
    align-items: center;
    gap: 1vw;
}

.boiler{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3vh;
    gap: 3vh;
    background-image: linear-gradient(rgb(194, 194, 194), rgb(187, 168, 135));
}

.boiler_header{
    background-color: rgb(187, 168, 135);
    width: 100%;
}

.boiler_header-txt{
    display: flex;
    align-items: center;
    gap: 0.7vw;
    margin: 1vh 1vw 1vh 1.5vh;
}

.boiler_text{
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.boiler_load{
    display: flex;
    justify-content: center;
    gap: 1vw;
}

.boiler_load button{
    padding: 0vh 0.5vw 0vh 0.5vw;
    border: 2px solid rgb(163, 140, 101);
    background-color: rgb(245, 211, 152);
    padding: 0.5vh 0.5vw 0.5vh 0.5vw;
    font-size: 12pt;
}

.boiler_load button:hover{
    background-color: rgb(230, 196, 137);
}

.steam_generator{
    background-color: rgb(220, 227, 233);
}

.steam_generator_header{
    background-color: rgb(181, 196, 209);
}

.steam_generator_header-txt{
    display: flex;
    align-items: center;
    gap: 0.7vw;
    padding: 1vh 1vw 1vh 1vh;
}

.steam_generator_content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4vh 2vw 4vh 2vw;
}

.steam_generator_content button{
    padding: 0vh 0.5vw 0vh 0.5vw;
    border: 2px solid rgb(155, 178, 199);
    background-color: rgb(197, 212, 226);
    padding: 0.5vh 0.5vw 0.5vh 0.5vw;
    font-size: 12pt;
}

.steam_generator_content button:hover{
    background-color: rgb(182, 197, 211);
}

.steam_generator_main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
}

.steam_generator_bar{
    width: 30vw;
    height: 5vh;
    border: 2px solid black;
    background-color: rgb(110, 110, 110);
}

.steam_generator_fill{
    width: 0%;
    transition-duration: 0.25s;
    height: 100%;
    background: linear-gradient(to right, rgb(204, 204, 204), rgb(255, 255, 255));
}

.upgrades_window{
    display: flex;
    flex-direction: column;
    gap: 2vh;
    width: 25vw;
    margin: 0px 3vw 0px 3vw;
}

.upgrades_window button{
    padding: 0vh 0.5vw 0vh 0.5vw;
}

.versionNumber{
    position: fixed;
    top: 97vh;
    left: 0.5vw;
}

.autosave{
    position: fixed;
    top: 1vh;
    left: 0.5vw;
    opacity: 0%;
}
