@font-face {
    font-family: Montserrat-Regular;
    src: url(../fonts/Montserrat-Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
    font-family: Montserrat-Regular;
}

.text{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vh;
    margin-top: 10vh;
}

.text button{
    width: 5vw;
    height: 3vh;
    scale: 120%;
}

.versionNumber{
    position: fixed;
    top: 97vh;
    left: 0.5vw;
}

.patchnotes{
    margin-top: 5vh;
    border: 2px solid rgb(124, 124, 124);
    padding: 1vh 1vw 1vh 1.5vw;
    display: flex;
    flex-direction: column;
    gap: 2vh;
    height: 40vh;
    overflow-y: scroll;
}
.patchnotes li{
    margin-top: 7px;
}